@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */
body {
  padding-top: 100px;
}
.navbar-inverse{
  height: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-left: 130px;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  height: 100px;
}

h2 {
  height:25px;
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  margin-left:120px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color:  #1ceded;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      font-size: 1em;
    }
  }
}
input {
  margin-top:  15px ;
  margin-left: 13px;
}
.new_user{
  text-align: center;
  border: 2px #fff solid;
}
label{
  width:120px;
}
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    margin-left: 100px;
}
.btn-primary{
    margin: 5px;
    margin-left: 145px;
    width: 120px;
}
.a-sigup{
  text-align: center;

}
.category{
  text-align: center;
  width:160px;
  background-color: #1fddf2;
}
.title_items{
  float: left;
  text-align: center;
  background-color: #1fddf2;
  width: 100%;
}
.newest{
  text-align: center;
  background-color: #1fddf2;
  width: 100%;
}
.img{
  float: left;
  height: 300px;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 45px
}
.img img{
  height: 180px;
  width: 160px;
  border: 1px solid #f27a09
}
.navbar navbar-fixed-top navbar-inverse{
  height:100px;
}
.search{
  margin-top:80px;
}
.btn-search{
  margin-top: 65px;
}
.delete{
  text-align: right;
  color:red;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin-top: 30px;
}
.blue
{
    color: blue;
    text-align: center;
}
.red{
  color:red;
}
div.pagination{
  margin-left: 50%
}
.border a{
      padding: 5px 25px;
    background: indigo;
}
#message_area{
  height:180px;
  width: 500px ;

  margin-top: 10px;
}
.item{
  float: left;
  height: 300px;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 45px
}
.item img{
  height: 180px;
  width: 160px;
  border: 1px solid #f27a09
  }
  #submit{
    text-align: center;
    margin-left: 200px;
  }
  .left input{
    margin-left: 5px;
    margin-bottom: -10px;
  }
  .form-inline{
    text-align: center;
  }
  .form-inline .form-control{
    width: 60%;
  }